!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
%html{class: 'no-js', lang: 'en'}<>
  <!--<![endif]-->
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title= "BOH - #{item[:title]}"
    %link{href: '/assets/stylesheets/normalize.css', rel: 'stylesheet'}
    %link{href: '/assets/stylesheets/app.css', rel: 'stylesheet'}
    %script{src: '/assets/javascripts/foundation/vendor-custom-modernizr.js'}
  %body
    = render 'fbjsdk'
    = render 'header'
    %article
      - if @item[:header_img]
        %header
          %img{src:@item[:header_img]}
      - if @item[:sidebar] == false
        .spread
          #content
            = yield
      - else
        .info
          #content
            = yield
          %aside
            = render 'sidebar'
    = render 'footer'
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{src: '/assets/javascripts/foundation.js'}
    %script $(document).foundation();





