!!! 5
%html
  = render 'head'
  %body
    = render 'header'
    .main
      - if @item[:header_img]
        .row
          .twelve.columns
            %img{src:@item[:header_img]}
      .row
      - if @item[:sidebar] == false
        .twelve.columns
        = yield
      - else
        .eight.columns
        = yield
        .four.columns
          %h1 test
    = render 'footer'

