!!! 5
%html
  = render 'head'
  %body
    = render 'fbjsdk'
    = render 'header'
    .main
      - if @item[:header_img]
        .row
          .twelve.columns.banner
            %img{src:@item[:header_img]}
      - if @item[:sidebar] == false
        = yield
      - else
        .row
          .eight.columns
            .row
              .twelve.columns.header-line.top-line
                %hr
            = yield
          .four.columns
            = render 'sidebar'
    = render 'footer'

