!!! 5
%html
  = render 'head'
  %body
    = render 'header'
    .main
      - if @item[:header_img]
        .row
          .twelve.columns
            %img{src:@item[:header_img]}
      - if @item[:sidebar] == false
        .row
          .twelve.columns
          = yield
      - else
        .row
          .eight.columns
            = yield
          .four.columns
            = render 'sidebar'
    = render 'footer'

